body {
  background-color: white;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  }

.card {
  width: 300px;
  height: auto;
  background-color: white;
  margin: 10px;
  border: solid 1px lightblue;
  }

.product-header {
  border: solid 1px lightblue;
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
}

.description {
  text-align: justify;
  text-justify: inter-word;
  padding: 5px 10px;;
}

.availability {
  width: 300px;
  background-color: gray;
  color: yellow;
  font-weight: bold;
  padding: 8px 4px;
}

.specs {

}

.pricing {

}
