body {
  background-color: lightcyan;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }

.card {
  width: 400px;
  height: auto;
  background-color: white;
  margin: 10px;
  border: solid 1px navy;
  font-family: 'Libre Baskerville', serif;
  }

.product-header {
  border: solid 1px navy;
  text-align: center;
  font-weight: 700;
  font-size: x-large;
}

.image {
  display: block;
  margin-left: auto; " "
  margin-right: auto;
  width: 50%;
  padding: 20px;
}

.description {
  text-align: justify;
  text-justify: inter-word;
  padding: 5px 10px;;
}

.available, .sold-out {
  width: 394px;
  background-color: gray;
  color: yellow;
  font-weight: bold;
  padding: 8px 4px;
}

.specs, .pricing {
  padding: 0px 12px;
  color: darkgreen;
}

.size-weight, .quantities {
  padding: 0px 20px;
  font-size: 20px;
}

.footer {
  padding: 5px;
  font-style: italic;
}
